.gen-counter {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    height: 19px;
}

.gen-marker {
    width: 127px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    border-right: 1px solid rgba(123,94,40,0.75);
    border-left: 1px solid rgba(123,94,40,0.75);
    margin-left: -1px;
    color: rgba(123,94,40,0.75);
}

.gen-marker::before {
    content: "";
    display: inline-block;
    width: 52px;
    border-top: 1px solid rgba(123,94,40,0.75);
}
.gen-marker::after {
    content: "";
    display: inline-block;
    height: 0px;
    width: 52px;
    border-top: 1px solid rgba(123,94,40,0.75);
}