.stage-sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: inset 0 0 20px black;
    border: solid 2px;
    border-image: 
    linear-gradient(
      to bottom, 
      #101010, 
      black
    ) 1 20%;
    padding: 12px;
    background: #ffffff;
}

.sidebar-image {
	grid-area: image;
	width: 110px;
    height: 110px;
    display: flex;
	justify-content: center;
	overflow: hidden;
    margin: auto;
	border: solid 2px #101010;
	border-radius: 2px;
	background-color: rgb(218, 200, 178);
	box-shadow: inset 0 0 3px black;
}

.sidebar-content {
    width: 100%;
}

.sidebar-buttons {
    text-align: left;
    width: 100%;
}

.sb-setting {
    text-align: left;
    margin-left: 10px
}

.sb-label {
    text-align: left;
    border-bottom: solid 1px black;
    margin-bottom: 2px;
    margin-top: 4px;
}