.app-stage {
    display: grid;
    grid-template-areas: 'side canvas'
                         'side menu';
    grid-template-rows: 1fr 70px;
    grid-template-columns: 200px 1fr;
}

.stage-menu {
  grid-area: menu;
}

.stage-sidebar {
    grid-area: side;
}

.stage-canvas {
    grid-area: canvas;
    display: flex;
    overflow: auto;
    padding: 25px;
    border: solid 2px;
    border-image: 
    linear-gradient(
      to bottom, 
      #101010, 
      black
    ) 1 20%;
    box-shadow: inset 0 0 30px black;
    background: tan;
}

.stage-button-large {
  min-width: 120px;
  padding: 2px;
  margin: 3px;
  background: hsl(0, 0%, 95%);
  border-style: inset;
  border-width: 2px;
  border-color:#101010;
  box-shadow: inset 0 0 1px;
  text-align: center;
  text-justify: center;
  text-overflow: wrap;
  font-family: "Alice","Times New Roman","Times",serif;
  font-size: 15px
}
.stage-button-large:hover {
  background: radial-gradient(hsl(0, 0%, 85%), hsl(0, 0%, 95%));
  box-shadow: inset 0 0 1px black, 0 0 1px;
}

.stage-button-small {
  min-width: 50px;
  width: 50px;
  padding: 1px;
  margin: 4px;
  background: hsl(0, 0%, 95%);
  border-style: inset;
  border-width: 1px;
  border-color:#101010;
  box-shadow: inset 0 0 1px;
  text-align: center;
  text-justify: center;
  text-overflow: wrap;
  font-family: "Alice","Times New Roman","Times",serif;
  font-size: 15px
}
.stage-button-small:hover {
  background: radial-gradient(hsl(0, 0%, 85%), hsl(0, 0%, 95%));
  box-shadow: inset 0 0 1px black, 0 0 1px;
}