.app-stage {
    display: grid;
    grid-template-areas: 'side canvas'
                         'side menu';
    grid-template-rows: 1fr 70px;
    grid-template-columns: 200px 1fr;
}

.stage-menu {
  grid-area: menu;
}

.stage-sidebar {
    grid-area: side;
}

.stage-canvas {
    grid-area: canvas;
    display: flex;
    overflow: auto;
    border: solid 2px;
    border-image: 
    linear-gradient(
      to bottom, 
      #101010, 
      black
    ) 1 20%;
    box-shadow: inset 0 0 30px black;
    background: tan;
}