.template-panel {
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 500px;
    overflow-x: hidden;
    font-size: 18px;
}

.tp-header {
    font-style: bold;
    font-size: 28px
}

.tp-select-template {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tp-select-template label {
    font-size: 20px;
    margin-left: 4px;
}

.tp-select-template .react-select-menu {
    display: inline-block;
    width: 200px;
    margin-left: 14px;
}

.tp-description {
    display: flex;
    flex-direction: row;
}

.tp-desc-text {
    width: 490px;
    padding: 10px;
}

.tp-desc-image {
    width: 200px;
    height: 195px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.tp-properties-label {
    margin: 10px
}

.tp-properties {
    width: 100%;
    height: 170px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: auto;
    font-size: 16px;
    border-top: 2px solid black;
}

.tpi-box-large {
    width: 200px;
    height: 150px;
    margin: 6px;
    padding: 4px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

.tpi-box-small {
    width: 200px;
}