@font-face {
  font-family: Alice;
  src: url(./fonts/Alice-Regular.ttf);
}

body {
  margin: 0;
  font-family: "Alice","Times New Roman","Times",serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#overlay-A {
  position: fixed; z-index: 10;
}

#overlay-B {
  position: fixed; z-index: 20;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
